body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #203040;
  padding: 1rem;
  height: 3rem;
}

header a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.products {
  display: flex;
}

.product {
  border: 1px #404040 solid;
}

.product img {
  width: 100%;
  max-width: 400px;
}
